<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ganeshatech05102021.ecommerce">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        android:usesCleartextTraffic="true">
        <activity android:name=".adminactions.completedOrderPage"></activity>
        <activity android:name=".adminactions.returnRequestAction" />
        <activity android:name=".adminactions.receivedOrderAction" />
        <activity android:name=".adminactions.helpsetting" />
        <activity android:name=".adminactions.aboutsetting" />
        <activity android:name=".adminactions.settingPage" />
        <activity android:name=".adminactions.ManageProducts" />
        <activity android:name=".MOrderPage" />
        <activity android:name=".CategoryProductPage" />
        <activity android:name=".orderspage" />
        <activity android:name=".ConfirmOrderPage" />
        <activity android:name=".productpage" />
        <activity android:name=".HelpPage" />
        <activity android:name=".aboutCompany" />
        <activity android:name=".voucherPage" />
        <activity android:name=".userInfo" />
        <activity android:name=".usersetting" />
        <activity android:name=".adminactions.completedOrders" />
        <activity android:name=".adminactions.addDeals" />
        <activity android:name=".adminactions.addCategory" />
        <activity android:name=".adminactions.addProduct" />
        <activity android:name=".adminactions.returnRequest" />
        <activity android:name=".adminactions.receivedOrder" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".ForgotPassActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>